extends layout

block content
    .nes-container.with-title.is-centered
        p.title Container.is-centered
        p Good morning. Thou hast had a good night&apos;s sleep, I hope.
        span.nes-text.is-primary Primary
        span.nes-text.is-success Success
        span.nes-text.is-warning Warning
        span.nes-text.is-error Error
        span.nes-text.is-disabled Disabled
