extends layout

block content
    .container
        h3 _blure
        h4 r&d software engineer
        .homeList
            a.link(href='/projects')
                h5 &gt; projects

        .mediaIcons
            a.nes-icon.linkedin.is-small(href='https://www.linkedin.com/in/thibaut-bessone-b351ba128/' target='_blank')
            a.nes-icon.github.is-small(href='https://github.com/thibautbessone' target='_blank')
            a.nes-icon.twitter.is-small(href='https://twitter.com/dabedee_dabedaa' target='_blank')

