doctype html
html
    head
        title='_blure'
        link( type='text/css' rel='stylesheet', href='https://unpkg.com/nes.css@latest/css/nes.min.css')
        link( type='text/css' rel='stylesheet', href='/css/main.css')
    body
        block content