extends layout

block content
    .container
        h3 project

        a.link(href='/projects/bluebot')
            h5 bluebot - discord soundboard bot
        a.link(href='/projects/selfbot')
            h5 discord selfbot
        a.link(href='/projects/shinrai')
            h5 shinrai
        a.link(href='/projects/randomizeit')
            h5 randomize it

        a.backLink.link(href='/')
            h5 &gt; back