@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

/* 404 */
#main {
    display: table;
    width: 100%;
    height: 100vh;
    text-align: center;
    font-weight: normal;
}

body {
    color: #ada79f;
    background-color: #141515;
}

.container {
    display: table-cell;
    vertical-align: middle;
}

.link, link:visited {
    color: #ada79f;
    text-decoration: none;
}

.link:hover {
    color: #0088FF;
    text-decoration: none;
}

h1 {
    /*font-size: 50px;*/
    display: inline-block;
    padding-right: 12px;
}

h3, h4 {
    margin-bottom: 20px;
}

.readme {
    width: 60%;
    text-align: justify;
    margin: 40px auto 30px auto;
}

.backLink {
    margin-top: 200px;
}

.mediaIcons {
    margin-top: 20px;
}

.mediaIcons .nes-icon {
    margin: 0 2px 0 2px;
}

.logo {
    color: #0088FF;
    margin-bottom: 40px;
}

.char {
    color: #ada79f;
}

.caret {
    color: #ada79f;
    animation: 1s blink infinite;
}

@keyframes blink {
    50% { opacity: 0 }
}